:root {
  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F7F6 !important;
}

.main-login-form {
  height: 100%;
}

.main-login-form {
  height: 100vh;
}

@media only screen and (max-width: 898px) {
  .LogicSourceHeroTitle {
    display: none !important;
  }
}


.css-15b8vjn-MuiPaper-root-MuiDrawer-paper {
  background-color: #ffffff;
}

.drawer {
  width: 240px;
}

@media (max-width: 600px) {
  .drawer {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .main-login-form{
    padding: 0px; 
  }
  .navbar-search-hide {
    width: 0;
  }

  .navbar-search-clicked {
    width: 100%;
  }

  .navbar-search-clicked:focus {
    color: black;
  }

  .navbar-profile-name {
    display: none !important;
  }

  .navbar-brand-logo-container,
  .navbar-profile {
    display: none !important;
  }

  .navbar-brand-logo-container .navbar-profile {
    display: none !important;
  }

  .navbar-search-position-around {
    justify-content: space-around !important;
  }

  .navbar-search-positon-between {
    justify-content: space-between !important;

  }
}

.sidebar-listItem:hover {
  background-color: #04ABD7 !important;
  color: white
}

.sidebar-icon {
  font-size: 20.56px;
}

.sidebar-listItem:hover .sidebar-icon {
  color: white !important;
}

.sidebar-icon-not-active {
  color: #04ABD7 !important;
  outline: 1px solid white !important
}

.sidebar-multi-listItem:hover {
  color: #04ABD7 !important;
  
}

.sidebar-listItem:hover .sidebar-icon svg rect {
  stroke: white;
}
.sidebar-icon-active svg rect {
  stroke: white;

}


.dropzone{
  border: 2px dashed #009ee3;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: border-color 0.1s ease;
}

.dropzone-active{
  border-color: #005ea6;
}

.dropzone-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon{
  margin-bottom: 16px;
}

.MuiSlider-valueLabelLabel {
  color: #fff !important;
  background-color: #04ABD7 !important;
}
.MuiSlider-valueLabel {
  color: #fff !important;
  background-color: #04ABD7 !important;
  padding: 2px !important
}